@import '../../responsive.scss';

.projectSection {
  margin: 100px 20px 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }

  .projectContainer {
    display: grid;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: minmax(180px, auto);

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      grid-template-columns: repeat(1, 1fr);
    }

    @include sm {
      margin-top: 10px;
    }

    .videoCard {
      grid-column: span 1;
     
      .videoPlayer {
        .hover-overlay {
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            padding: 2px;
          }
          p {
          }
        }
        img {
        }
      }
    }
  }
}
